##############################
##############################

## Folders                  ##

##############################

node_modules
build

##############################

## Netbeans conf            ##

##############################